In [7]:
'''
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
'''

import pandas as pd 
data = [4,8,15,16,23,42]
se = pd.Series(data)

print(se)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
'''
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
'''
var = [1,2,3,4,5,6,7,8,9,10]
pd.Series(var)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
'''
Q3 . create a table in dataframe form and then print it  
'''

data1 = {
    "Name":["Alice","Bob","Claire"],
    "Age" :[25,30,27],
    "Gender":["Female","Male","Female"]
}
DF = pd.DataFrame(data1)

print(DF)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
'''
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
'''
DaraFrame:
    A DataFrame in Pandas is a two-dimensional labeled data structure with columns of potentially different types. 
    It is essentially a table of data with rows and columns, similar to a spreadsheet or SQL table.
    Each column in a DataFrame is a Pandas Series.

Different from Series:
    A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding 
    any data type (integer, string, float, etc.) with an index that identifies each element in the Series.

In [23]:

'''
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
'''

'''
drop(): used to remove rows or columns from a DataFrame. 
groupby(): used to group data in a DataFrame by one or more columns.
merge(): used to combine two or more DataFrames based on a common column.
sort_values(): used to sort the data in a DataFrame based on one or more columns.
apply(): used to apply a function to each row or column in a DataFrame. 


example of drop() function in the pandas library
'''


data2 = {
    "Name":["Alice","Bob","Claire"],
    "Age" :[25,30,27],
    "Gender":["Female","Male","Female"]
}
df = pd.DataFrame(data2)
df = df.drop('Name' ,axis = 1 )     # delete a Name column 

print(df)

   Age  Gender
0   25  Female
1   30    Male
2   27  Female

In [ ]:
'''
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
'''
DaraFrame , Series:
    In Pandas, both Series and DataFrame are mutable in nature, which means that you can modify
    their values, add or remove columns or rows, and change their structure.

panel : 
    However, Panel is considered to be an immutable data structure in Pandas, 
    which means that you cannot modify its contents once it has been created. 
    Instead, you can create a new Panel object with the desired change

In [29]:
'''
Q7. Create a DataFrame using multiple Series. Explain with an example.
'''

import pandas as pd

roll_no =pd.Series([1,2,3,4,5,6])

age = pd.Series([23,12,23,34,45,64])

marks = pd.Series([99,87,77,99,87,67])

datframe= pd.DataFrame(Roll_NO"roll_no , age,  marks)

ValueError: Shape of passed values is (6, 1), indices imply (6, 6)